/* Removes default spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Whole page */
body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* Navigation Bar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 60px;
    background:#356859;
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav li{
    cursor:pointer;
}

/* Main Container */
main{
    width:75%;
    margin:40px auto;
}

/* Form */
form{
    display:flex;
    flex-direction:column;
    gap:10px;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}

form h2{
    color:#d91d1d;
    margin-bottom:10px;
}

form label{
    font-weight:bold;
}

form input,
form select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:15px;
}

form button{
    width:150px;
    padding:10px;
    border:none;
    background:skyblue;
    cursor:pointer;
    border-radius:5px;
    font-size:15px;
}

form button:hover{
    background:#6ec2e7;
}

/* Total */
#total{
    margin-top:25px;
    margin-bottom:20px;
    color:#0f5f8a;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}

th{
    background:#356859;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f4f4f4;
}

/* Buttons */
.edit-btn{
    background:#ffc107;
    border:none;
    color:black;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
    margin-right:8px;
}

.edit-btn:hover{
    background:#f5b500;
}

.delete-btn{
    background:#d91d1d;
    border:none;
    color:white;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#b11414;
}